<h1>Hello, <%= current_user.username %>!</h1>

<%= link_to "Your Journal", user_shows_path(current_user) %><br />
<%= link_to "All Shows", shows_path %><br />
<%= link_to "Your Reviews", user_reviews_path(current_user) %><br />
<%= link_to "Add New Show", new_user_show_path(current_user) %>