<%= form_for @show do |f|%>
    <%= render partial: 'shared/errors', locals: {object: @show} %>

    <h5>Show</h5>
    <div class="field<%= ' field_with_errors' if @show.errors[:title].any? %>">
        <%= f.label :title%>
        <%= f.text_field :title, list: 'title' %>
    <datalist id='title'>
        <% @shows.each do |show| %>
            <option value="<%= show.title %>"></option>
        <% end %>
    </datalist>
    </div><br />
    <div class="field<%= ' field_with_errors'  if @show.errors[:first_performance_year].any? %>">
        <%= f.label :first_performance_year %>
        <%= f.number_field :first_performance_year %>
    </div><br />

    <h5>Composer</h5>
    <%= f.fields_for :composer do |composer_form| %>
        <div class="field<%= ' field_with_errors' if @show.errors[:"composer.name"].any? %>">
            <%= composer_form.label :name %>
            <%= composer_form.text_field :name, list: 'composer-name' %>
            <datalist id='composer-name'>
                <% @composers.each do |composer| %>
                    <option value="<%= composer.name%>"></option>
                <% end %>
            </datalist>
        </div><br />
        <div class="field<%= ' field_with_errors' if @show.errors[:"composer.birth_year"].any? %>">
            <%= composer_form.label :birth_year %>
            <%= composer_form.number_field :birth_year %>
        </div><br />
        <div class="field<%= ' field_with_errors' if @show.errors[:"composer.death_year"].any? %>">
            <%= composer_form.label :death_year %>
            <%= composer_form.number_field :death_year %>
        </div><br />
        <div class="field<%= ' field_with_errors' if @show.errors[:"composer.country"].any? %>">
            <%= composer_form.label :country %>
            <%= composer_form.text_field :country %>
        </div><br />
    <% end %>

    <h5>Genre</h5>
    <%= f.fields_for :genre do |genre_form| %>
        <div class="field<%= ' field_with_errors' if @show.errors[:"genre.name"].any? %>">
            <%= genre_form.label :name %>
            <%= genre_form.text_field :name, list: 'genre-name' %>
            <datalist id='genre-name'>
            <%= @genres.each do |genre| %>
                <option value="<%= genre.name %>"></option>
            <% end %>
            </datalist>
        </div><br />
    <% end %>

    <%= f.submit class: "btn btn-dark" %>
<% end %>