<h1>All Shows</h1>

<% if !params[:user_id] %>
    <%= form_tag '/shows', method: :get do %>
        <%= select_tag 'filter', options_for_select({"All" => "all",
                                                    "Popular (5+ saved viewings)" => "popular", 
                                                    "From Nineteenth Century" => "from-nineteenth-century", 
                                                    "From Twentienth Century" => "from-twentieth-century",
                                                    "From Twentyfirst Century" => "from-twentyfirst-century",}, params[:filter]) %>
        <%= submit_tag "Filter"%>
    <% end %>
<% end %>

<% @genres.each do |genre| %>
    <h5><%= genre.name %></h5>
        <ul>
            <% @shows.select{|show| show.genre == genre}.each do |show| %>
                <li><%= link_to show.title, show_path(show) %> - <%= show.composer_name %></li>
            <% end %>
        </ul>
<% end %>

<% if logged_in? %>
    <br />
    <p>Don't see the show you're looking for? <%= link_to "Add It!", new_show_path %></p>
<% end %>