<h1>All Shows</h1>

<% if !params[:user_id] %>
    <%= render 'filter_form' %><br />
<% end %>

<% @genres.sort.each do |genre| %>
    <h5><em><%= genre %></em></h5>
        <ul>
            <% @shows.select{|show| show.genre_name == genre}.each do |show| %>
                <li><%= link_to show.title, show_path(show) %> - <%= show.composer_name %></li>
            <% end %>
        </ul>
<% end %>

<% if logged_in? %>
    <br />
    <p>Don't see the show you're looking for? <%= link_to "Add It!", new_show_path %></p>
<% end %>