<h1><%= @show.title %></h1>

<h3>Composer: <%= link_to @show.composer.name, composer_path(@show.composer) %></h3>
<h3>Genre: <%= link_to @show.genre.name, genre_path(@show.genre) %>
<h3>First Performance Year: <%= @show.first_performance_year %></h3>

<br />
<% if current_user %>
    <%= link_to "I Saw This!", new_show_viewing_path(@show) %>
    <br />
<% end %>

<h3><%= link_to "Reviews", show_reviews_path(@show) %></h3>
<ul>
    <% @show.reviews.each do |review| %>
        <li><%= review.user.username %> says: <%= review.body %></li>
    <% end %>
</ul>