<h1><%= @show.title %></h1>

<h5>Composer: <%= link_to @show.composer_name, composer_path(@show.composer) %></h5>
<h5>Genre: <%= link_to @show.genre_name, genre_path(@show.genre) %>
<h5>First Performance Year: <%= @show.first_performance_year %></h5>

<br />
<% if logged_in? && !current_user.shows.include?(@show)%>
    <h5><%= link_to "I Saw This!", new_show_viewing_path(@show) %></h5>
    <br />
<% end %>

<h5>Reviews</h5>
<ul>
    <% @show.reviews.each do |review| %>
        <li><em><%= review.user_name %> says</em>: <%= review.body %> - <strong><%= review.rating %>/5</strong></li>
    <% end %>
</ul>