<h1>Your Journal</h1>

<% @shows.each do |show| %>
    <h5><%= link_to show.title, user_show_path(current_user, show) %>: </h5>
        <% current_user_viewings(show).each do |viewing|%>
            <p><%= viewing_date(viewing) %> - <%= viewing_location(viewing) %></p>
            <p><%= viewing.review.body %> - <%= viewing.review.rating %>/5</p>
            <div class='row'>
                <div class='col-sm'>
                    <%= link_to "Edit Entry", edit_show_viewing_path(show, viewing), class: 'btn btn-dark' %>
                </div>
                <div class='col-sm'>
                    <%= form_tag show_viewing_path(show, viewing), method: 'delete' do %>
                        <%= submit_tag "Delete This Entry", class: "btn btn-danger" %>
                    <% end %>
                </div>
            </div>
        <% end %>
    <hr>
<% end %>
